<html>
    <head>
        <title>login</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    </head>
<body>
    <div id="app"></div>
    <script type="application/javascript" src="/build/bundle.js"></script>
</body>
</html>