<!DOCTYPE html>
<html>
  <head>
    <title>Main</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel='stylesheet' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <script src="/socket.io/socket.io.js"></script>

  
  </head>
  <body>
  <img src="/images/loading.gif" style="height:100%; width:100%; position:fixed; background-color: white" id="loading"  />
    <div id="app"></div>
    
    <script src="/build/bundle.js"></script>
      <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

  <script type="text/javascript">
  var socket = io.connect();
  function keyDown(user){
    console.log("user is ",user);
    
      if(document.getElementById('status-text').value == ""){
        socket.emit("blur")
      }else{
        socket.emit('typing', user);
      }
      document.getElementById('status-text').placeholder = "Type to chat";
    };
  function setPlaceholder(){
    document.getElementById('txt').placeholder = "Type a message...";
  }
  $(function(){
    

    $("#txt").blur(function(){
      socket.emit('blur');
      
    })
    socket.on('typingp', function(data){
      console.log(data);
      if(document.getElementById('status-text').placeholder.indexOf('is typing')<=0){
        document.getElementById('status-text').placeholder = data + "is typing...";
      }
        
      });
      
    
    socket.on('blurp', function(data){
      document.getElementById('status-text').placeholder = "Type to chat...";
    })
    $('#chat').click(function(){
      var a = [document.getElementById('txt').value, document.getElementById('u').value];
      socket.emit('send message', a);
      document.getElementById('txt').value = ""
    })

    socket.on('new message', function(data){
      //document.getElementById('chat').
      $('#messages').append("<div class='btn btn-block'>"+data.msg[1]+" Said : "+data.msg[0]+"</div>")
    })
  });
     function dropDown(){
          $('.dropdown-button').dropdown();
       }

       $(".dropdown-button").dropdown({ hover: false, belowOrigin: true, constrain_width: false, alignment: 'right', inDuration: 300, outDuration: 225, gutter: 0});
        $(window).on('load',function(){
          $('#loading').hide();
        });
        function clickedMe(){
          $('#loading').show();
          $('#loading').css("z-index","100")
        }
        function hideMe(){
          $("#loading").hide();
        }
  </script>

  </body>
</html>
