body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
Link:hover,a:hover{
  text-decoration: none;
}
button:focus{
  border:none;
}
#signup_div .row{
  margin-bottom: 20px;
}
#login{
  margin-bottom: 10px;
}