html,body{
    -webkit-tap-highlight-color: transparent;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:100%;
}
html,#app{
  height:100%;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
a:hover{
  text-decoration: none !important;
}
.card-action a{
  padding: 0 10px;
  height: 60px !important;
}
a:focus{
    text-decoration: none !important;
}
  #status-row{
    width: 90% !important;
  }
button{
  cursor: pointer
}
#signup{
  cursor: pointer
}
button:focus{
  border:none;
}
#logout{
  cursor: pointer;
}
#logout:hover{
  cursor: pointer;
  transform: scale(1.2)
}
#signup_div .row{
  margin-bottom: 20px;
}
#login{
  margin-bottom: 10px;
}
nav ul a{
  text-decoration: none;
}
#navigation{
  width: 100%;
  z-index: 200;
  position: fixed;
  background-color: teal;
  top: 0;
  padding-left: 0.8em;
  padding-right: 0.8em;
  font-size: 1.5em;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  height: 7%;
  left:0
}

#display-data-box{
  background-color: cyan;
  color: blueviolet;
  border-radius: 10px;
  height: 80%;
}
#displaydatabox{
  font-size: 1.8em;
}
#content{
  margin-top: 55px;
}
.inCenter{
  margin-top: 10px;
}
@media(max-width:910px){
  #navigation{
    font-size: 1.2em;

  }
}
#friend-section{
  padding-top: 1.7em;
}
#title{
  font-size: 1.4em;
}
@media(max-width:700px){
  #navigation{
    padding-top: 3px;
  }
  .brand-logo{
    font-size: 18px !important;
  }
}
#friend-list{
  font-family: "Lato", sans-serif
}
#friend-list li{
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: khaki;
  margin-bottom: 2px;
  display: inline-block;
}
#status-list li{
  width: 100%;
  padding: 6px;
  margin-bottom: 2px;
  display: inline-block;
}
.fade-enter{
  opacity: 0;
}
.fade-enter-active{
  opacity: 1;
  transition: opacity 300ms ease-out;
}
.fade-leave{
  opacity: 1;
}
.fade-leave-active{
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.lato{
  font-family: "Lato",sans-serif
}